body {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* nav bar */
#nav-main {
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    width: 100vw;
    z-index: 900;
    background-color: rgba(255, 255,255, 0.15);
    border: 1px solid rgba(255, 255,255, 0.15);;
}

#nav-main a {
    color: white;
}

/* nav bar end */



/* main content stuff */
#main-content {
    width: 100vw;
    height: 100%;
}

#scene-top, #scene-middle, #scene-bottom {
    left: 0;
    right: 0;
    width: 100vw;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

#scene-top {
    height: 100vh;
    background-image: url("../images/scene/scene-top.jpg");
}

/* CHANGE 100VH TO SOMETHING ELSE */
#scene-middle {
    height: 100vh ;
    background-image: url("../images/scene/scene-middle-1.jpg");
}

/* CHANGE 100VH TO SOMETHING ELSE */
#scene-bottom {
    height: 100vh ;
    background-image: url("../images/scene/scene-bottom.jpg");
}

/* main content end */



/* footer */
footer {
    padding-left: 10%;
    padding-right: 10%;
}
/* footer end */